.message {
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    /* Cambiato da fixed a absolute */
    top: 12%;
    right: 1%;
    min-width: 300px;
    max-width: 400px;
    z-index: 1050;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    opacity: 0.98;
    transition: opacity 0.3s, transform 0.3s;
    display: block;
    pointer-events: auto;
}

.message.error {
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
}

.message.success {
    background-color: #ccffcc;
    color: #006600;
    border: 1px solid #006600;
}